In [1]:
import pandas as pd 
import warnings as wr 
wr.filterwarnings('ignore')

In [2]:
df = pd.read_csv('weight-height.csv')
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [3]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [4]:
df.Gender = le.fit_transform(df[['Gender']])

In [5]:
df.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

In [6]:
df.tail()

      Gender     Height      Weight
8550       0  60.483946  110.565497
8551       0  63.423372  129.921671
8552       0  65.584057  155.942671
8553       0  67.429971  151.678405
8554       0  60.921791  131.253738

# Go Ahead

# EDA

# Least Squared Linear Regression

# Regression Problem

# Classification Problem

# Comparison of Linear Rgeression and KNN Regressor

In [ ]:
#plot

# Comparison of Logistic Rgeression and KNN Classifier

In [ ]:
#plot