In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [2]:
data = {'Weight': [2, 4, 5, 3, 6, 5, 7],
        'Price': [35, 60, 20, 50, 50, 55, 60]}
df = pd.DataFrame(data)

In [5]:
df.head()

   Weight  Price
0       2     35
1       4     60
2       5     20
3       3     50
4       6     50

 OLS Regression Calculation (Task 01)